* {
    border: rgb(255, 0, 76) 1px solid;
}

.header{
    background-color: #1F2937;
    display: flex;
    padding: 16px;
    gap:12px;
    align-items: center;
}

.header .logo{
    font-size: 24px;
    margin-right:auto;
    color: #F9FAF8
}

.header a:visited, a:hover, a:link, a:active{
    text-align: center;
    text-decoration: none;
    color: #E5E7EB;
}

.header  a:hover{
    font-size: 20px; 
}
